.root{
    -fx-background-color: #25022c;
}

.background{
    -fx-background-color: #25022c;
}

.label{
    -fx-font-size: 15px;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-bar{
    -fx-background-color: #25022c;
}

.menu:hover{
    -fx-background-color: #5f4b63;
    -fx-border-size: 2;
}

.menu:showing{
    -fx-background-color: #5f4b63;
}

.context-menu{
    -fx-background-color: #896e8e;
}

.menu-item:hover{
    -fx-background-color: #503256;
}

.tool-bar{
    -fx-background-color: #503256;
}

.button{
    -fx-background-color: #5f4b63;
    -fx-font-size: 13pt;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

//Combo-box

.combo-box .list-cell
{
    -fx-background-color: #896e8e;
    -fx-padding: 3 0 2 7;
    -fx-font-size: 13pt;
        -fx-font-family: 'Roboto', sans-serif;
        -fx-text-fill: white;
        -fx-opacity: 1;
}

.combo-box-popup .list-view
{
    -fx-background-color: #896e8e;
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    -fx-background-color: #896e8e;
}

.combo-box-item{
    -fx-background-color: #503256;
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #503256;;
}

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: #896e8e;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #25022c;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #25022c;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #25022c;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}

// accordion

.accordion {
    -fx-margin: 4 0 4 5;
}

.accordion .titled-pane > *.content{
    -fx-background-color: #503256;
    -fx-border-color: #503256;
}

.accordion .titled-pane .title {
     -fx-background-color: #5f4b63;
}

.accordion .titled-pane .title .label{
     -fx-font-size: 15px;
     -fx-font-family: 'Roboto', sans-serif;
     -fx-text-fill: white;
     -fx-opacity: 1;
}

.scroll-pane > .corner {
    -fx-background-color: #503256;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal, .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb{
    -fx-background-color: #503256;
    -fx-background-radius: 5em;
}

