.root{
    -fx-background-color: #333;
}

.background{
    -fx-background-color: #333;
}

.label{
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-bar{
    -fx-background-color: #333;
}

.menu:hover{
    -fx-background-color: #860036;
    -fx-border-size: 2;
}

.menu:showing{
    -fx-background-color: #8a264f;
}

.context-menu{
    -fx-background-color: #f63f87;
}

.menu-item:hover{
    -fx-background-color: #c5125c;
}

.tool-bar{
    -fx-background-color: #333;
    -fx-border-color: #444;
}

.button{
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.combo-box .list-cell
{
    -fx-background-color: transparent;
    -fx-padding: 3 0 2 7;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

/* File style.css */

.button {
    -fx-border-color: #c5125c;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left;
    -fx-background-color: #444;
    -fx-text-fill: white;
}
.button:focused {
    -fx-border-color: grey;
    -fx-border-radius: 25;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left;
    -fx-text-fill: white;
}


.text-field {
    -fx-border-color: #c5125c;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left;
    -fx-background-color: #444;
    -fx-text-fill: white;
}
.text-field:focused {
    -fx-border-color: grey;
    -fx-border-radius: 25;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left;
    -fx-text-fill: white;
}

.combo-box {
    -fx-border-color: #c5125c;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left;
    -fx-background-color: #444;
    -fx-text-fill: white;
}

.combo-box:focused {
    -fx-border-color: grey;
    -fx-border-radius: 25;
    -fx-border-width: 2 2 2 2; // top, right, bottom, left;
    -fx-text-fill: white;
}

.combo-box-popup .list-view
{
    -fx-background-color: black;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: transparent;
}

.combo-box-item{
    -fx-background-color: trasnparent;
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.color-picker {
    -fx-background-color: transparent;
    -fx-color-label-visible: false;

}

.color-picker .color-picker-label {
    -fx-text-fill: blue;
}

.color-picker .picker-color .picker-color-rect {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.color-palette .hyperlink {
    visibility: hidden;
}

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: transparent;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #333;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #333;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #333;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}

.accordion {
    -fx-margin: 4 0 4 5;
}

.accordion .titled-pane > *.content{
    -fx-background-color: #444;
    -fx-border-color: #333;
}

.accordion .titled-pane .title {
     -fx-background-color: #333;
}

.accordion .titled-pane .title .label{
     -fx-font-size: 15px;
     -fx-font-family: 'Roboto', sans-serif;
     -fx-text-fill: white;
     -fx-opacity: 1;
}

.scroll-pane > .corner {
    -fx-background-color: #333;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal, .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb{
    -fx-background-color: #333;
    -fx-background-radius: 0em;
}

.jfx-text-field {
    -fx-background-color: #5f4b63;
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}


#spMain .content{
    -fx-background-color: #444;
}

#spMain {
    -fx-background-color: #444;
}